# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables and secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Raw dataset files
01_data/01_raw/